<section class="container">
  <div class="card mt-3 mb-3">
    <div class="card-header text-center">
      <h5 class="mb-0">Create a event</h5>
    </div>
    <div class="card-body">
      <form action="/events/add-event" method="post" id="form-date">
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <div class="form-group mb-2">
          <label for="name">Event name:</label>
          <input
            type="text"
            class="form-control form-control-sm required"
            name="name"
            id="name"
          />
        </div>
        <div class="form-group mb-2">
          <label for="date">Event date:</label>
          <input
            type="datetime-local"
            class="form-control form-control-sm required"
            name="date"
            id="date"
          />
        </div>
        <div class="form-group mb-2">
          <label for="place">Event place:</label>
          <input
            type="text"
            class="form-control form-control-sm required"
            name="place"
            id="place"
          />
        </div>
        <div class="buttons-container">
          <a href="/events" class="btn btn-sm btn-secondary">Go back</a>
          <button
            type="button"
            id="btn-date"
            class="btn btn-sm btn-primary"
          >Create event</button>
        </div>
      </form>
    </div>
  </div>
</section>