<section class="container">
  <div class="card mt-3 mb-3">
    <div class="card-header text-center">
      <h5 class="mb-0">Reset Password</h5>
    </div>
    <div class="card-body">
      <form
        action="/forgot-password/{{#if findUser}}find-user{{/if}}{{#if confirmCode}}confirm-code{{/if}}{{#if resetPass}}reset-password{{/if}}" 
        method="post"
        id="{{#if resetPass}}form-reset{{else}}form-default{{/if}}"
      >
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <div class="form-group mb-2">
          {{#if findUser}}
            <label for="username">Username:</label>
            <input
              class="form-control form-control-sm required"
              type="text"
              id="username"
              name="username"
              autofocus
            />
          {{/if}}
          {{#if confirmCode}}
            <label for="code">Confirm code:</label>
            <input
              class="form-control form-control-sm required"
              type="text"
              id="code"
              name="code"
              autofocus
            />
          {{/if}}
          {{#if resetPass}}
            <div class="form-group mb-2">
              <label for="password">New password:</label>
              <input
                class="form-control form-control-sm required"
                type="password"
                id="password"
                name="password"
              />
            </div>
            <div class="form-group mb-2">
              <label for="confirmPassword">Confirm new password:</label>
              <input
                class="form-control form-control-sm required"
                type="password"
                id="confirmPassword"
                name="confirmPassword"
              />
            </div>
          {{/if}}
        </div>
        <div class="buttons-container">
          <a href="/" class="btn btn-sm btn-secondary">Go back to login</a>
          <button 
            type="button" 
            id="{{#if resetPass}}btn-resetPass{{else}}btn-submit{{/if}}" 
            class="btn btn-sm btn-primary">
            {{#if findUser}}Find user{{/if}}
            {{#if confirmCode}}Check code{{/if}}
            {{#if resetPass}}Reset password{{/if}}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>