<form action="/authentication/reset-password" method="post" id="form-reset">
  <input name="_csrf" value="{{csrfToken}}" type="hidden" />
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
  </div>
  <button type="button" id="btn-reset">reset password</button>
  <a href="/authentication">go back</a>
</form>