<section class="container">
  <div class="card mt-3 mb-3">
    <div class="card-header text-center">
      <h5 class="mb-0">Reset Password</h5>
    </div>
    <div class="card-body">
      <form action="/reset-password" method="post" id="form-reset">
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <div class="form-group mb-2">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control form-control-sm required"
            name="username"
            id="username"
          />
        </div>
        <div class="buttons-container">
          <a href="/" class="btn btn-sm btn-primary">Go back to login</a>
          <button
            type="button"
            id="btn-reset"
            class="btn btn-sm btn-danger"
          >Reset password</button>
        </div>
      </form>
    </div>
  </div>
</section>