<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roniell Pérez" />
    <meta name="description" content="Social media webapp" />
    <link rel="shortcut icon" href="/assets/images/mainIcon.png" />
    <link
      rel="stylesheet"
      href="/styles/css/libs/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <title>Social Media</title>
  </head>
  <body>
    {{#if header}}
      <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">SocialMedia / {{section}}</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a
                    class="nav-link {{#if (equal section "Home")}}active{{/if}}"
                    aria-current="page"
                    href="/"
                  >Home</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link {{#if (equal section 'Friends')}}active{{/if}}"
                    aria-current="page"
                    href="/"
                  >Friends</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link {{#if (equal section 'Notifications')}}active{{/if}}"
                    aria-current="page"
                    href="/"
                  >
                    Notifications
                    <span class="badge bg-info text-dark">8</span>
                  </a>
                </li>
                <li class="nav-item {{#if (equal section 'Events')}}active{{/if}}">
                  <a class="nav-link" aria-current="page" href="/">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/log-out">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    {{/if}}
    <main class="container">
      {{{body}}}
    </main>
    
  {{#if modal}}
    <div class="modal-container"></div>
  {{/if}}

  </body>
  {{! ====================== boostrap ====================== }}
  <script src="/js/libs/bootstrap/bootstrap.min.js"></script>

  {{! ====================== jquery ====================== }}
  <script src="/js/libs/jquery/jquery-3.6.0.min.js"></script>

  {{! ====================== toastify ====================== }}
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>

  {{! ====================== inputmask ====================== }}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"
  ></script>

  {{! ====================== backendToastify ====================== }}
  {{#if hasMessages}}

    <script src="/js/backendToast.js"></script>

    {{#each errorMessages}}
      <script type="text/javascript">
        showBackendToast({{{json this}}}, true)
      </script>
    {{/each}}

    {{#each successMessages}}
      <script type="text/javascript">
        showBackendToast({{{json this}}}, false)
      </script>
    {{/each}}

  {{/if}}

  <script src="/js/index.js" type="module"></script>

</html>