<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Roniell Pérez" />
    <meta name="description" content="Social media webapp" />
    {{! <link rel="shortcut icon" href="/assets/images/" /> }}
    <link
      rel="stylesheet"
      href="/styles/css/libs/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <title>Social Media</title>
  </head>
  <body>
    {{{body}}}
  </body>
  {{! ====================== boostrap ====================== }}
  <script src="/js/libs/bootstrap/bootstrap.min.js"></script>

  {{! ====================== jquery ====================== }}
  <script src="/js/libs/jquery/jquery-3.6.0.min.js"></script>

  {{! ====================== toastify ====================== }}
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>

  {{! ====================== inputmask ====================== }}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"
  ></script>

  {{! ====================== backendToastify ====================== }}
  {{#if hasMessages}}

    <script src="/js/backendToast.js"></script>

    {{#each errorMessages}}
      <script type="text/javascript">
        showBackendToast({{{json this}}}, true)
      </script>
    {{/each}}

    {{#each successMessages}}
      <script type="text/javascript">
        showBackendToast({{{json this}}}, false)
      </script>
    {{/each}}

  {{/if}}

  <script src="/js/index.js" type="module"></script>
</html>