<section class="container">
  <div class="card mt-3 mb-3">
    <div class="card-header text-center">
      <h4 class="mb-0">{{message}}</h4>
    </div>
    <div class="card-body">
      <div class="message text-center" style="font-size: 10rem;">
        {{{logo}}}
      </div>
      <div class="text-center">
        <a href="/home" class="btn btn-primary">go back home</a>
      </div>

    </div>
  </div>
</section>