@mixin color_backColor_transition($color, $backgroundColor) {
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  &:hover {
    color: $color;
    background-color: $backgroundColor;
  }
}
