.label-btn {
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #4419b9;
  color: #fff;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  width: max-content;
}
