html {
  font-size: calc(14px + 0.390625vw);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

textarea {
  resize: none;
  height: 4rem;
  @include scrollbar(gray, white, 4px);
}
